<div class="container mt-5 pt-5" align="center">
<h1>Stupid Coaching</h1>

  <blockquote>
    <p><%= @question %></p>
    <p>— You</p>
  </blockquote>

  <blockquote>
    <p><%= @answer %></p>
    <p>— Your coach</p>
  </blockquote>
  <%= link_to "Ask a new question", ask_path, :class => "btn btn-dark"%>
</div>
