<div class="container">
<h1>Stupid Coaching</h1>
<p>Make a question to your coach:</p>
<form action="/answer">
  <div>
    <input type="text" name="question">
    <div class="input-group-append">
      <input type="submit" value="Ask!">
    </div>
  </div>
</form>
</div>