// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Orelega+One&display=swap');


a {
    text-decoration:none;
}

body {
    background-color:#B6B6B6;
    color: #0f2046;
}

h1 {
    font-weight: bold;
    font-family: 'Orelega One', cursive;
}

p {
    font-family: 'Noto Sans', sans-serif;
}